body {   
    background: url(../images/background.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.list {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
    list-style: none;
}

.list.list-bullets {
    margin-left: 2rem;
    list-style: disc;
}

.d-flex.list {
    margin-left: 0;
}

header {
    background-color: rgb(9, 130, 230);
    height: 3rem;
    padding: 0.25rem 0.25rem 0 0.25rem;
}

header > h1 {
    color: white;
    font-size: 1rem;
}

.container {
    padding-top: 5rem;
}

.card {
    padding: 1rem;
    border: 1px solid rgb(9, 130, 230);
    border-radius: 3px;
    height: 22rem;
    background-color: rgb(248, 249, 250);
}

.card h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.75rem;
}

footer {
    margin-top: 5.2rem;
}

footer a span {
    display: none;
}

footer a {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url(/images/wizard.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box-footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
}

label input {
    margin: 0 0.2rem;
}
